beautifulsoup4
fuzzywuzzy
gensim
graphviz
ipython
keras
matplotlib
mlxtend
networkx
numpy
pandas
pillow
pulp
pymysql
requests
scikit-learn
scipy
selenium
sqlalchemy
sympy
tensorflow
unidecode
xgboost
youtube-transcript-api
